<section id="app" class=" ">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    {{> header}}
  {{> welcome}}
  <!-- {{> user}} -->
  {{> indexposters}}


    {{> footer}}

  <!-- <div class="movie-wrapper">
    <aside>
      <h4 class="movie-title">{{ defaultMovie.movies_title }}</h4>
      <span class="movie-year">
        {{ defaultMovie.movies_year }} &nbsp;&bull;&nbsp; {{ defaultMovie.movies_runtime}}
      </span>
      <i class="movie-genre">{{ defaultMovie.genre_name }}</i>
    </aside>
    <video autoplay>
      <source src="video/{{ defaultMovie.movies_trailer }}" type="video/mp4">
    </video>
  </div> -->


</section>
